<div>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container" ng-init="navCollapsed = true">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" aria-expanded="false" aria-controls="navbar" ng-click="navCollapsed = !navCollapsed">
					<span class="sr-only" translate>Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand">MPD Dashboard</a>
			</div>

			<div class="navbar-collapse collapse" uib-collapse="navCollapsed">
				<p class="navbar-text" ui-view="title"></p>

				<ul class="nav navbar-nav">
					<li ng-if="app.navigation.countries" ui-sref-active="active">
						<a href ui-sref="countries" translate>Countries</a>
					</li>
					<li class="dropdown" ng-if="app.navigation.staff_accounts" uib-dropdown>
						<a href class="dropdown-toggle" role="button" aria-expanded="false" uib-dropdown-toggle>
							<translate>Staff Account</translate>
							<span class="caret"></span></a>
						<ul class="dropdown-menu uib-dropdown-menu" role="menu">
							<li ng-repeat="account in app.navigation.staff_accounts | orderBy:'country'" ui-sref-active="active">
								<a href ui-sref="staffAccount({min_code: account.min_code, person_id: account.person_id})">{{account.country}}</a>
							</li>
						</ul>
					</li>
				</ul>

				<div class="navbar-form navbar-right" ui-view="navbarForm"></div>
			</div>
		</div>
	</nav>
	<div class="container">
		<div ui-view></div>
	</div>
	<div ui-view="footer"></div>
</div>
